.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.bold {
  font-weight: bold;
}

.Outer {
  display: flex;
  flex-direction: column;
  min-height: 45vh;
  min-width: 100vb;
  border-radius: 12px;
  box-shadow: 1px 1px 1px 1px #c8c8c8;
}
.Banner {
  background-color: #faebd7;
  min-height: 10vh;
  min-width: 100vb;
  border-top-right-radius: 12px;

  border-top-left-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Stepper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Stepper-Item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.Body {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}
.circ {
  align-self: center;
  padding: 10vh;
  
}

.Upper-Body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

.Lower-Body {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-bottom: 20px;
  padding-left: 28px;
}

.Lower-L-Body {
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-right: 28px;
  padding-left: 28px;
}

.Warn {
  align-self: flex-start;
  font-size: calc(10px + 1vmin);
}
.Butt {
  align-self: flex-end;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
